{% extends 'layout.html' %}

{% block content %}

<div class="row my-4">
    <div class="col-lg-8 offset-lg-2">
        <div class="card bg-transparent">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Acerca de Nosotros</h3>
                <p class="card-text">
                    La Red de Salud Popular "Dr. Ramón Carrillo" es una entidad que nuclea a un amplio grupo de personas, tanto 
        profesionales como no profesionales de ámbitos del Derecho, Medicina, Agronomía y personal técnico, quienes trabajan
        desde hace más de una década asesorando a pobladores urbanos y rurales afectados por la fumigación con agrotóxicos 
        en distintas localidades de la provincia del Chaco. En este marco, realizan el acompañamiento de denuncias, elaboran 
        propuestas de producción sin agrotóxicos y promueven acciones de atención primaria en salud y defensa ambiental, 
        lo cual les permite crear lazos en toda la extensión del territorio chaqueño.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
