{% extends 'layout.html' %}

{% block content %}

<div class="row my-4">
    <div class="col-lg-8 offset-lg-2">
        <div class="card bg-transparent">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Acerca de Nosotros</h3>
                <p class="card-text">
                    Nam fermentum, magna placerat cursus tempor, ipsum augue dignissim ante, ac gravida justo dui ut eros. 
                    Nulla id maximus nisl. Sed pharetra, enim quis suscipit finibus, nunc justo mattis felis, ut consequat mi mauris sit amet metus. 
                    Nullam lacinia magna condimentum faucibus ultricies. Suspendisse placerat est quis interdum malesuada. Ut quam magna, egestas vel bibendum ac, 
                    tincidunt sit amet mi. Ut volutpat eros sit amet ornare elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                    per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
